
.container{
    background-color: black;
    
} 
.col-md-6 h2{
    color: white;
    font-size: 2.5rem;
    
}
a{
    color: white;
    font-size: 1.2rem;

    transition: border-radius 0.1s;
}
#menu ul li{
    display: inline-block;
    padding: 10px;
    margin-top: 6px;
    
}
#menu a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}
#banner{
    background: url(/images/banner-car.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-tittle h1,p{
    color: white;
}
.col-md-4 h6{
    color: white;
    font-size: 2rem;
}
.col-md-4 p{
    color: white;
}
  




